.bank-balance-display{
    
    position: absolute;
    top : 50%;
    left : 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.bank-balance-display table{
    border: 2px solid black;

}
table,tr,th,td{
    border: 2px solid black;
    border-collapse: collapse;

}
th, td{
    padding: 10px;
}

td input{
    width: 70%;
    padding: 5px 10px;
}

.bank-balance-display button{
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    background-color: black;
    color: aliceblue;
}